<%= render 'user_profile'%>

<section id="update-status">
  <div class="box">
    <header class="box-header">
      <h1>Atualizar Status</h1>
	  	<div style="position: absolute;right: 10px; top: 20px;">
			<%= link_to 'Voltar', posts_path %>
		</div>
    </header>
    <div class="box-content">
      <div class="comment-form">
		<%= render 'form' %>
      </div>
    </div>
  </div>
</section>
